body {
  width: 100%;
}

header {
  background-color: #0a4773;;
  min-height: 500px;
}

main {
  background-color: #F6F6F6;
  padding-top: 8em;
}

#modal {
  position: relative;
  margin: auto;
  top: 5em;
  background: white;
  min-height: 500px;
  width: 85%;
  border-radius: 5px;
  box-shadow: 1px 1px 4px lightgray;
}

#modal div {
  display: inline-block;
}

#headshot {
  margin: 3.5em 0 0 3.5em;
}

#headshot img {
  border-radius: 10%;
}

#about-me {
  margin: 13em 0 0 8em;
  vertical-align: top;
}

#about-me ul {
  list-style: none;
  margin-left: 1em;
}

#about-me li {
  display: inline-block;
  color: black;
  margin-left: 1.25rem;
}

a, a:hover {
  color: black;
}

h1 a {
  text-decoration: none;
}

i {
  font-size: 2em;
}

section {
  text-align: center;
  padding-bottom: 5em;
}

#recommendations h3 {
  margin-bottom: 0.1em;
}

.card {
  background: white;
  padding: 2em;
  margin: 2em 0;
  border-radius: 5px;
  box-shadow: 1px 1px 4px lightgray;
}

.card p {
  padding: 0 15%;
}
