body {
  font-family: 'Droid Sans', sans-serif;
  width: 100%;
}

.quote {
  font-family: 'Architects Daughter', cursive;
}

.home {
  position: fixed;
  z-index: 999;
  top: 2em;
  left: 2em;
}

.full-width-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
  width: 100%;
  min-height: 50rem;
  transition: background-color 1.0s ease;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: #CC4B48;
  cursor: pointer;
}

.headshot {
  border-radius: 50%;
  border: 1px solid black;
}

.headshot:hover {
  box-shadow: 0px 0px 1px black;
}

.drugdev {
  margin-top: 0.8em;
}

.centered-text {
  text-align: center;
}
