    <main>
      <section class="full-width-background">
        <div class="container">
          <div class="row">
            <div class="eight columns offset-by-two centered-text">
              <h1>What People Are Saying</h1>
            </div>
          </div>

          <hr/>

          <div class="row" id="josh">
            <div class="four columns offset-by-four centered-text">
              <a href="https://www.linkedin.com/in/josh-wilson-6052081" target="_blank">
                <img alt="Josh Wilson's LinkedIn picture." class="headshot" src="images/josh_wilson.jpg"/>
              </a>
            </div>
          </div>

          <div class="row">
            <div class="eight columns offset-by-two">
              <h2 class="centered-text">Josh Wilson</h2>
              <h4 class="centered-text">VP of Product Management at Raizlabs</h4>
              <p class="quote">
                &#10077;Dan is an extremely effective developer because his communication skills
                are as strong as his technical ability and he understands the value
                of flexibility and empathy when working in a team. He also has an infectious
                enthusiasm for the craft of software and picks up new languages, patterns,
                and technologies very quickly.&#10078;
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="full-width-background">
        <div class="container">
          <div class="row" id="jeremiah">
            <div class="four columns offset-by-four centered-text">
              <a href="https://www.linkedin.com/in/jeremiahatwood/" target="_blank">
                <img alt="Jeremiah Atwood's LinkedIn picture." class="headshot" src="images/jeremiah_atwood.jpg"/>
              </a>
            </div>
          </div>

          <div class="row">
            <div class="eight columns offset-by-two">
              <h2 class="centered-text">Jeremiah Atwood</h2>
              <h4 class="centered-text">Web Platform Lead at Raizlabs</h4>
              <p class="quote">
                &#10077;Dan is an avid technologist who is always teaching himself new concepts
                and technologies. On a recent Android and API project, he jumped in and
                took over the API work, working directly with client developers to deliver
                an ambitious product. Dan was also instrumental in kicking off an initiative
                to record our internal Tech Talks and share them with the community.
                His presentation on encryption was informative, well-researched, well-rehearsed
                and demonstrated his grasp of a complex subject. Dan is definitely someone
                you want on your team.&#10078;
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="full-width-background">
        <div class="container">
          <div class="row" id="matt">
            <div class="four columns offset-by-four centered-text">
              <a href="https://www.linkedin.com/in/mattbuckley1/" target="_blank">
                <img alt="Matt Buckley's LinkedIn picture." class="headshot" src="images/matt_buckley.jpg"/>
              </a>
            </div>
          </div>

          <div class="row">
            <div class="eight columns offset-by-two">
              <h2 class="centered-text">Matt Buckley</h2>
              <h4 class="centered-text">Mobile Engineer at Raizlabs</h4>
              <p class="quote">
                &#10077;Dan consistently delivers high-quality code, asking probing questions
                to clarify requirements and ensuring that features are completed to
                spec and ahead of schedule. He boasts a wide-ranging skill set. Given
                a set of requirements, Dan draws on expertise in Ruby, JavaScript, and
                Elixir. He's friendly, fun-loving, and a true asset to any engineering
                team. I'd gladly work with Dan again any time.&#10078;
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
