    <main>
      <section class="full-width-background">
        <div class="container">
          <div class="row" id="cryptography">
            <div class="twelve columns">
              <h2 class="centered-text" style="margin-bottom: 0px;">Public Speaking</h2>
            </div>
          </div>

          <hr/>

          <div class="row">
            <div class="eight columns offset-by-two">
              <div class="centered-text">
                <iframe
                   src="https://player.vimeo.com/video/217214978"
                   width="640"
                   height="360"
                   frameborder="0"
                   webkitallowfullscreen
                   mozallowfullscreen
                   allowfullscreen>
                </iframe>

                <p>
                  <a href="https://vimeo.com/217214978">Cryptography in Colors: Public Key Cryptography</a> from <a href="https://vimeo.com/raizlabs">Raizlabs</a> on <a href="https://vimeo.com">Vimeo</a>.
                </p>
              </div>

              <hr/>

              <p>
                A math-light explanation of one of the core technologies of the internet:
                public key cryptography. We'll use metaphors from Brit Cruise's amazing
                <a href="https://www.youtube.com/user/ArtOfTheProblem" target="_blank">
                   Art of the Problem</a> video series on YouTube to explore this topic in-depth.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="full-width-background">
        <div class="container">
          <div class="row" id="machine-learning">
            <div class="eight columns offset-by-two">
              <h6 class="centered-text"><em>Video recording coming soon!</em></h6>
              <div class="centered-text">
                <img
                  class="full-width-at-1024px ninety-percent-width-at-560px"
                  alt="The first slide from Dan's talk on machine learning."
                  src="images/machine_learning_slide.png"
                />
              </div>

              <hr/>

              <p>
                A plain-English definition of machine learning followed by a detailed
                look at how some fundamental ML algorithms are implemented. By the end
                of this talk you'll see that there's nothing mystical about machine learning.
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
